Cython==3.0.10
hupper==1.12.1
joblib==1.4.2
numpy==1.26.4
packaging==24.1
pandas==2.2.2
PasteDeploy==3.1.0
patsy==0.5.6
plaster==1.1.2
plaster-pastedeploy==1.0.1
pmdarima==2.0.4
pyramid==2.0.2
python-dateutil==2.9.0.post0
pytz==2024.1
scikit-learn==1.5.0
scipy==1.13.1
setuptools==70.0.0
six==1.16.0
statsmodels==0.14.2
threadpoolctl==3.5.0
translationstring==1.4
tzdata==2024.1
urllib3==2.2.1
venusian==3.1.0
WebOb==1.8.7
zope.deprecation==5.0
zope.interface==6.4.post2
