cmdstanpy==1.2.3
contourpy==1.2.1
cycler==0.12.1
Cython==3.0.10
fonttools==4.53.0
holidays==0.50
hupper==1.12.1
importlib_resources==6.4.0
joblib==1.4.2
kiwisolver==1.4.5
matplotlib==3.9.0
numpy==1.26.4
packaging==24.1
pandas==2.2.2
PasteDeploy==3.1.0
patsy==0.5.6
pillow==10.3.0
plaster==1.1.2
plaster-pastedeploy==1.0.1
plotly==5.22.0
pmdarima==2.0.4
prophet==1.1.5
pyparsing==3.1.2
pyramid==2.0.2
python-dateutil==2.9.0.post0
pytz==2024.1
scikit-learn==1.5.0
scipy==1.13.1
setuptools==70.0.0
six==1.16.0
stanio==0.5.0
statsmodels==0.14.2
tenacity==8.3.0
threadpoolctl==3.5.0
tqdm==4.66.4
translationstring==1.4
tzdata==2024.1
urllib3==2.2.1
venusian==3.1.0
WebOb==1.8.7
zope.deprecation==5.0
zope.interface==6.4.post2
